extends layout

block content
	h1 Told you I program.
	p.lead Here are some of my side projects.

	ul.nav.nav-tabs.nav-justified(role='tablist')
		li.active(role='presentation')
			a(href='#gears', aria-controls='gears', role='tab', data-toggle='tab') Gear Font
		li(role='presentation')
			a(href='#spot-it', aria-controls='spot-it', role='tab', data-toggle='tab') Spot it! Generator
		li(role='presentation')
			a(href='#disc', aria-controls='disc', role='tab', data-toggle='tab') Disc Golf Scorecard

	.tab-content
		#gears.tab-pane.active(role='tabpanel')
			| Check out the demo on&nbsp;
			a(href='https://jsfiddle.net/tvance989/ss03kqqp/', target='_blank') jsfiddle
			| . WIP v2 below.
			
			input#gear-input.form-control(type='text', placeholder='Enter text to gearify')
			#gear-output

		#spot-it.tab-pane(role='tabpanel') coming soon...

		#disc.tab-pane(role='tabpanel') coming soon...

block scripts
	script(src='/bower_components/raphael/raphael-min.js')
	script(src='/js/gears.js')
