extends layout

block content
	h1 TV Records too
	p.lead
		| Garrett and I have been collaborating for over a decade.

	p CURI/OSITY is our most recent endeavor. It's the culmination of over a year of musical brainstorming.
	p
		iframe(style='border: 0; width: 500px; height: 472px;', src='https://bandcamp.com/EmbeddedPlayer/album=3599526398/size=large/bgcol=333333/linkcol=ffffff/artwork=small/transparent=true/', seamless='')
			a(href='http://dragonemperor.bandcamp.com/album/curi-osity') CURI/OSITY by The Dragon Emperor and His Largest Army

	p HUMANe is something we conceived, wrote, and produced in one night in 11th grade.
	p
		iframe(style='border: 0; width: 500px; height: 340px;', src='https://bandcamp.com/EmbeddedPlayer/album=2714321413/size=large/bgcol=333333/linkcol=ffffff/artwork=small/transparent=true/', seamless='')
			a(href='http://theshynessclinic.bandcamp.com/album/humane') HUMANe by The Shyness Clinic


